


/* ---  main_nav --- */
#main_nav {
  width: 500px;
  
  border: 1px solid grey;
  
  color: #F5F5F5;
  background-color: #333;

}

#main_nav img {
  height: 20px;
  width: 20px;
}

#main_nav ul {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

#main_nav li {
  display: inline-block;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
}

#main_nav li:nth-child(2) {
  padding-left: 140px;
}

#main_nav a {
  text-decoration: none;
  font: 20px/1.5 Helvetica, Arial, sans-serif;
  color: #F5F5F5;
}



/* ---  options_nav --- */
#options_nav {
  height: 50px;
  width: 500px;

  border: 1px solid grey;
  color: #333;
  background-color: #F5F5F5;

}

#options_nav a {
  text-decoration: none;
  color: grey;
}

#options_nav img{
  height: 20px;
  width: 20px;
}

#options_nav ul {
  display: inline-block;
  padding-left: 20px;
}

#options_nav li {
  display: inline-block;
  font: 15px/1.5 Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#options_nav li:nth-child(2) {
  text-decoration: none;
  padding-left: 160px;
  color: grey;
}



/* ---  main_list --- */
#main_list_box {
  height: 500px;
  width: 500px;
  overflow: auto;
}

#main_list {
  margin-top: -15px;
}
 
#main_list ul {
  border: 1px solid grey;
  width: 500px;
  padding: 0;
}

#main_list li {
  overflow: auto;
  
  border-bottom: 1px solid grey;
  padding: 10px;

  font: 15px/1.5 Helvetica, Arial, sans-serif;
  font-weight: bold;
}
 
#main_list li:hover {
  background: #eee;
  cursor: pointer;
}

#main_list li a {
  text-decoration: none;
}
 
#main_list li img {
  float: left;

  width: 20%;
  height: 20%;

  margin: 0 15px 0 0;
  border-radius: 50%;
}

#main_list li h3 {
  color: #333;
  line-height: 30%;
}
  
#main_list li p {
  color: grey;
  font-weight: bold;
}



/* ---  main_btn --- */
#main_bts {
  width: 500px;
  margin-top: -60px; 
}

#main_bts ul {
  display: inline-block;
}

#main_bts li{
  width: 100px;

  display: inline-block;
  
  border: 1px solid grey;

  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  
  background-color: #F5F5F5;
  color: grey;

  font: 15px/1.5 Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#main_bts a {
  text-decoration: none;
  text-align: center;
}
